Package: com.example.liquidglassighook
Name: LiquidGlassIGHook
Version: 1.0.0
Architecture: iphoneos-arm
Description: Forces Instagram LiquidGlass gates on using Logos hooks.
Maintainer: LiquidGlass Team
Author: LiquidGlass Team
Section: Tweaks
